html,

.container {
  background-color: #98b8f9;
  text-align: center;
  font-family: 'Verdana';
  min-width: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

#fd {
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  width: 75%;
  max-width: 1440px;
  padding: 15px;
  padding-top: 30px;
  border-radius: 35px;
}

#title {
  font-size: 2.5em;
}

#description {
  font-size: 2em;
}

#sub-description {
  font-size: 1.5em;
}

.left {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  padding: 5px;
  width: 45%;
}

.right {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 50%;
}

.input-field {
  height: 25px;
  width: 250px;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid;
}

.dropdown {
  height: 40px;
  width: 200px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  font-size: 1em;
  border: 1px solid;
  border-radius: 10px;
}

.partySizes,
  input[type="checkbox"]{
    float: left;
    margin-right:7px;
}

.qEdit,
  input[type="checkbox"]{
    float: left;
    margin-right:7px;
}

.radio, .checkbox {
  position: relative;
  left: -35px;
}


#submit {
  width: 120px;
  height: 40px;
  font-size: 1em;
  margin: 10px;
  background-color: #4782f7;
  color: white;
  border: 0px solid;
  border-radius: 10px;
}

@media screen and (max-width: 1080px) {
  .input-field {
    width: 80%;
  }
  
  select {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .left {
    width: 100%;
    text-align: left;
  }
  .right {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

